* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}




/* ----------------- */
.header {
    width: 100%;

}

.gnb {
    width: 1070px;
    height: 25px;
    margin: 0 auto;
    overflow: hidden;
}

.gnb ul {
    float: right;
    overflow: hidden;
}

.gnb li {
    display: inline-block;
    padding-left: 10px;
}

.headermiddle {
    width: 1070px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

}

.headermiddle .carAni li {
    float: left;
    margin-right: 10px;
    font-weight: bold;
}

.carAni span {
    color: rgb(141, 192, 141);
}

.headermiddle .search {
    float: right;
    width: 200px;
    padding: 10px 0;
}

.headermiddle .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* --------------- lnb ------------------ */

.lnb {
    width: 1070px;
    margin: 0 auto;
    overflow: hidden;
}

.lnb .allCategory {
    float: left;
    color: rgb(33, 144, 189);
    font-weight: bold;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 12px;
}

.lnb .lnbList {
    float: left;
    font-weight: bold;
    margin: 0 auto;
}

.lnb .lnbList li {
    float: left;
    padding: 12px 30px;
}

.lnb .lnbList li:nth-child(1) {
    padding-left: 50px;
}

.lnb .new {
    float: left;
}

.lnb .life {
    float: right;
    font-size: 0;
    padding: 12px 0;
}

.lnb .life li {
    display: inline-block;
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-weight: bold;
    border-right: 1px solid #ddd;
    /* line-height: 12px; */
    padding: 0 5px;
}

.lnb .life li:last-child {
    border: none;
}

/* -------------- mainVisual -------------- */
.mainVisual img {
    width: 100%;
}



/* --------------  -------------- */