* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ----------------- */
.header {
    width: 100%;

}

.gnb {
    width: 1070px;
    height: 25px;
    margin: 0 auto;
    overflow: hidden;
}

.gnb ul {
    float: right;
    overflow: hidden;
}

.gnb li {
    float: left;
    padding-left: 10px;
}

.headermiddle {
    width: 1070px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

}

.headermiddle .carAni li {
    float: left;
    margin-right: 10px;
    font-weight: bold;
}

.carAni span {
    color: rgb(141, 192, 141);
}

.headermiddle .search {
    float: right;
    width: 200px;
}

.headermiddle .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* --------------- lnb ------------------ */

.lnb {
    width: 1070px;
    margin: 0 auto;
    overflow: hidden;
}

.lnb .allCategory {
    float: left;
    color: rgb(33, 144, 189);
    font-weight: bold;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 12px;
}

.lnb .lnbList {
    float: left;
    font-weight: bold;
    margin: 0 auto;
    overflow: hidden;
}

.lnb .lnbList li {
    float: left;
    padding: 10px 30px;
}

.lnb .lnbList li:nth-child(1) {
    padding-left: 50px;
}

.lnb .life {
    float: right;
    font-size: 0;
    overflow: hidden;
}

.lnb .life li {
    float: left;
    color: rgb(102, 102, 102);
    font-size: 5px;
    line-height: 15px;
    font-weight: bold;
    border-right: 1px solid #ddd;
    padding: 12px;
}
/* -------------- mainVisual -------------- */
.mainVisual{
    width: 100%;
    position: relative;
    /* overflow: hidden; */
    
}
.mainVisual div{
    width: 1900px;
    height: 370px;
    position: absolute;
    top: 0;
    left: 0;
}
/* .mainVisual .mainVisual01{
    background: url(../img/visual_01.jpg);
   
}
.mainVisual .mainVisual02{
    background: url(../img/visual_02.jpg);
    
}
.mainVisual .mainVisual03{
    background: url(../img/visual_03.jpg);
     
}
.mainVisual .mainVisual04{
    background: url(../img/visual_04.jpg);
     
} */
/* -------------- recommended_item  -------------- */
.recommended_product{
    width: 1070px;
    margin: 0 auto;
    overflow: hidden;
}
.recommended_product h3{
  text-align: center;
  margin-bottom: 30px;
}
.recommended_product .product01_04{
    float: left;
    width: 1070px;
    overflow: hidden;
    margin-bottom: 10px;
}
.recommended_product .product05_08{
    float: left;
    width: 1070px;
    overflow: hidden;
    margin-bottom: 10px;
}
.recommended_product li{
    float: left;
    width: 252px;
    border: 1px solid grey;
    margin-right: 10px;
}
.recommended_product img{
    width: 100%;
}
.recommended_product  li:last-child{
    margin: 0;
}


/* ------------- newItem --------------- */
.newItem{
    width: 1070px;
    margin: 0 auto;
}
.newItem h3{
  text-align: center;
  margin-bottom: 30px;
}
.newItem .new01{
    background: url(../img/new01.jpg);
    width:345px ;
    height: 345px;
}
.newItem .new02{
    background: url(../img/new02.jpg);
    width:345px ;
    height: 345px;
}
.newItem .new03{
    background: url(../img/new03.jpg);
    width:345px ;
    height: 345px;
}
.newItem .new01:hover{
    background: url(../img/new01_on.jpg);
}
.newItem .new02:hover{
    background: url(../img/new02_on.jpg);
}
.newItem .new03:hover{
    background: url(../img/new03_on.jpg);
}

.newItem li{
    float: left;
    margin-right: 10px;
}
.newItem li:last-child{
    margin: 0;
}